.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

@media (max-width: 768px) {
  .page > .main > div.lineup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}